@use 'variaveis';
.footer {
    background-color: variaveis.$corDeFundo;
    padding: 40px;
    text-align: center;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-padding-top: 2rem;
        text-decoration: none;
        list-style: none;
        scroll-behavior: smooth;
        font-family: 'Poppins', sans-serif;
    }

    .img {
        padding-bottom: 15px;
        text-align: center;
        height: 100px;
    }

    .texto {
        color: variaveis.$corTextoSecundario;
    }
}